<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8" />
        <title>Dashboard Arduino</title>
        <link rel="stylesheet" href="./static/stylesheet.css"
        
        <!-- css.gg icons -->
        <link href='https://css.gg/css' rel='stylesheet'>


    </head>
    <body>
        <div class = "container">
            <nav>
                <ul>
                    <li><a href="#">
                        <i class="gg-home"></i>
                        <span class="nav-item">Home</span>
                    </a></li>
                    <li><a href="#">
                        <i class="gg-drop-opacity"></i>
                        <span class="nav-item">Humidity</span>
                    </a></li>
                    <li><a href="">
                        <i class="gg-sun"></i>
                        <span class="nav-item">Brightness</span>
                    </a></li>
                    <li><a href="#">
                        <i class="gg-thermostat"></i>
                        <span class="nav-item">Temperature</span>
                    </a></li>
                </ul>
            </nav>
        </div>
    </body>
</html>